<li class="list-group-item">
  <span class="pull-xs-right pull-text-right">
    <small class="text-muted"><%= time_ago_in_words(link.created_at) %> ago</small>
    <br>
    <span class="label label-success label-pill"><%= pluralize(link.clicks, 'click') %></span>
  </span>
  <%= link_to shotlink(link), full_shotlink(link), target: '_blank' %>
  <% if link.active? %>
    <span class="text-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i> active</span>
  <% else %>
    <span class="text-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> inactive</span>
  <% end %> <br>
  <small class="text-muted"><%= link.actual %></small>
</li>
