<li class="list-group-item">
  <span class="label label-success label-pill pull-xs-right"><%= pluralize(s.clicks, 'click') %></span>
  <%= link_to full_short_url(s.short_url), full_short_url(s.short_url) %> <br>
  <small class="text-muted"><%= s.long_url %></small>
</li>
