<%= form_for(Url.new, remote: true) do |f| %>
<div class="form-group">
  <div class="input-group">
    <%= f.text_field :long_url, class: 'form-control landing-text-field',
      placeholder: 'paste your long url here and click shotn!' %>
    <span class="input-group-btn">
      <%= f.submit "shotn!", class: 'btn btn-success' %>
    </span>
  </div>
</div>
<% end %>
