<div class="welcome-message">
  <h3>Welcome to url Shotnr!</h3>
  <p>Let's shorten that long url.<p>
</div>
<div class="inner cover">
  <%= render 'form' %>
  <div class="container">
    <div id="url-view" class="row">
      <div class="col-md-12">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-info-outline">
            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
          </button>
          <button id="shortend-url" type="button" class="btn btn-info-outline">
            https://shotnr.com/example
          </button>
          <button type="button" class="btn btn-info-outline">
            <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
