<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="shotlinks-url-view">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" role="tab" data-toggle="tab" href="#popular">Popular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="tab" data-toggle="tab" href="#recent">Recent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="tab" data-toggle="tab" href="#influential">Top Users</a>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link" role="tab" data-toggle="tab" href="#mine">My Shotlinks</a>
          </li>
        <% end %>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" id="popular" class="tab-pane fade in active">
          <%= render partial: 'links/partials/links_list_view', collection: @popular, as: :link %>
        </div>
        <div role="tabpanel" id="recent" class="tab-pane fade">
          <%= render partial: 'links/partials/links_list_view', collection: @recent, as: :link %>
        </div>
        <div role="tabpanel" id="influential" class="tab-pane fade">
          <%= render partial: 'links/partials/top_users' %>
        </div>
        <% if logged_in? %>
          <div role="tabpanel" id="mine" class="tab-pane fade">
            <%= render partial: 'links/partials/user_links' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if logged_in? %>
  <div id="edit-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Shotlink</h4>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
<% end %>
