<div class="welcome-message">
  <h3>Welcome to Shotnr!</h3>
  <p>Let's shotn that long url.<p>
</div>
<div class="inner cover">
  <%= render 'form' %>
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="shotlink-view" style="display: none;"></div>
    </div>
  </div>
</div>
