<div class="center-page">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
      <h3>Welcome to Shotnr!</h3>
      <p>Let's shotn that long url.<p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <%= render partial: 'links/partials/form' %>
      <div id="shotlink-view" style="display: none;"></div>
    </div>
  </div>
</div>
