$light_grey: #f7f7f7;

a {
  &:focus, &:hover {
    color: #fff;
  }
}

html,
body {
  height: 100%;
  background-color: #366D86;
  font-family: 'Kalam', cursive !important;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  padding-bottom: 7rem;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 1rem;
}

/* Header */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  a {
    color: white;
    text-decoration: none;
  }
}

.nav-masthead {
  .nav-link {
    padding: .25rem 0;
    color: #fff;
    background-color: transparent;
    border-bottom: .25rem solid transparent;

    &:hover, &:focus {
      border-bottom-color: rgba(255,255,255,.25);
    }
  }

  .nav-link + .nav-link {
    margin-left: 1rem;
  }

  .active {
    color: #fff;
    border-bottom-color: #fff;
  }

  .profile-picture {
    border-radius: 50%;
  }

  .nav-image-link {
    padding: 1rem;
  }
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.cover {
  padding: 0 1.5rem;
}

.btn-light-primary-outline {
  @extend .btn-primary-outline;
  border-color: #80DEEA;
  color: #80DEEA;
  margin: 1rem 0 1rem 0;
  &:hover, &:focus {
    color: #fff;
    background-color: #80DEEA;
  }
}

.btn-sm {
  color: #fff;
}

#shotlink-view {
  border: 1px solid #5BC0DE;
  border-radius: 5px;

  .link {
    padding: 1rem;
    text-align: left;

    a {
      color: #FFB300;
      text-decoration: none;
      &:hover, &:focus {

      }
    }
    i {
      color: #fff !important;
    }
  }
}
/* Footer */

.mastfoot {
  color: rgba(255,255,255,.5);
}

/* Affix and center */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}
.masthead-fixed-top {
  z-index: 2;
  background: #366D86;
}
