$border_color: #00BCD4;
$backgroud_color: #366D86;
$info_button_blue: #5BC0DE;

.my_custom_tab_style {
  color: #fff !important;
  background-color: #366D86 !important;
  border-color: #00BCD4  #00BCD4 transparent  #00BCD4 !important;
}

.nav-tabs {
  border-bottom: 1px solid #00BCD4;
  .nav-link {
    color: #fff;
    &:hover, &:focus {
      border-color: #00BCD4 transparent transparent transparent;
    }
  }

  .nav-link.active {
    @extend .my_custom_tab_style;
  }

  .nav-item.open .nav-link {
    &:hover, &:focus {
      @extend .my_custom_tab_style;
    }
  }
}

.list-group-item {
  background-color: $backgroud_color;
  border: 1px solid $border_color;
  text-align: left;
  a {
    color: #FFB300;
    text-decoration: none;
    &:hover, &:focus {

    }
  }

  &:first-child {
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
    border-top: none;
  }

  .profile-picture {
    border-radius: 50%;
  }

  .user-name {
    padding: 0rem 1rem;
  }
}
