$border_color: #00BCD4;
$backgroud_color: #366D86;
$info_button_blue: #5BC0DE;

.my_custom_tab_style {
  color: #fff !important;
  background-color: #366D86 !important;
  border-color: #00BCD4  #00BCD4 transparent  #00BCD4 !important;
}
.shotlinks-url-view {
  .nav-tabs {
    border-bottom: 1px solid #00BCD4;
    .nav-link {
      color: #fff;
      &:hover, &:focus {
        border-color: #00BCD4 transparent transparent transparent;
      }
    }

    .nav-link.active {
      @extend .my_custom_tab_style;
    }

    .nav-item.open .nav-link {
      &:hover, &:focus {
        @extend .my_custom_tab_style;
      }
    }
  }
}

#link-form {
  position: fixed;
  width: 360px;
  right: 9px;
  top: 10rem;
  text-align: left;
  .form-group {
    margin-bottom: 0rem;
  }
}

.modal-open {
  color: black;
  text-align: left;
}

@media (max-width: 360px) {
  .nav-tabs {
    .nav-link {
      padding: 0.2rem;
    }
  }
}

@media (max-width: 500px) {
  .nav-tabs {
    .nav-link {
      padding: 0.5rem;
    }
  }

  #actual-link-form-group {
    margin-bottom: 0rem;
  }
  input#submit_link {
    margin-top: 1rem;
  }

  #link-form {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    .edit_link {
      width: 90%;
      background: #fff;
      margin: 10% auto;
      padding: 10px;
    }
  }
}

.list-group-item {
  background-color: $backgroud_color;
  border: 1px solid $border_color;
  text-align: left;
  word-wrap: break-word;
  a {
    color: #FFB300;
    text-decoration: none;
    &:hover, &:focus {

    }
  }

  &:first-child {
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
    border-top: none;
  }

  .profile-picture {
    border-radius: 50%;
  }

  .user-name {
    padding: 0rem 1rem;
  }
}

.label-success-outline {
  background-color: $backgroud_color;
  border: 1px solid #5CB85C;
}

.text-muted {
  color: #9AB5C2
}

.pull-text-right {
  text-align: right;
}
