<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Shotnr</h3>
    <nav class="nav nav-masthead">
      <a class="nav-link" href="#">Trending</a>
      <% if logged_in? %>
        <%= link_to "#", class: 'nav-image-link' do %>
          <%= image_tag current_user.image_url, class: 'profile-picture' %>
        <% end %>
      <% else %>
        <%= link_to '/auth/twitter', class: 'nav-link' do %>
          <span class="btn btn-info-outline btn-sm"><i class="fa fa-twitter"></i> Log In</span>
        <% end %>
      <% end %>
    </nav>
  </div>
</div>
