<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Shotnr</h3>
    <nav class="nav nav-masthead">
      <a class="nav-link" href="#">Trending</a>
      <a class="nav-link" href="#">Log In</a>
      <a class="nav-link" href="#">Sign Up</a>
    </nav>
  </div>
</div>
